
.mars {
  background-image: url('https://cdn.jsdelivr.net/gh/mbuchner/angular-challenge@master/src/assets/mars.jpg');
  background-color: #cccccc;
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
}

.robotGrid {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.robotGrid td {
  border: solid 1px #FFF;
  height: 4.3vw;
  width: 4.3vw;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.robotGridRow {

}

.robotGridCell {
  border: solid 1px #FFF;
  height: 4.3vw;
  width: 4.3vw;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.robotGrid td.header {
  color: #000;
  font-weight: bold;
}

.measurements {
  background-color: #FFF;
  border: 1px solid #222;
}

p {
  font-family: Lato;
}