
.mars {
  background-image: url('https://cdn.jsdelivr.net/gh/mbuchner/angular-challenge@master/src/assets/mars.jpg');
  background-color: #cccccc;
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
}

.robotGrid {
  color: #FFF;
}

.robotGrid td {
  border: solid 1px #FFF;
}

p {
  font-family: Lato;
}