<div class="mars">

	<div class="robotGrid" *ngIf="gridData$ | async as gridData">
		<div class="robotGridRow">
			<div class="robotGridCell header" (click)="play()">
				<i class="fa fa-play" style="font-size:22px; color: green"></i>
      </div>
			<div class="robotGridCell header" *ngFor="let row of gridData; let r = index">
				{{r}}
			</div>
		</div>

		<div class="robotGridRow" *ngFor="let row of gridData; let r = index">
      <div class="robotGridCell header">{{r}}</div>
			<div id="cell_{{c}}x{{r}}" class="robotGridCell" *ngFor="let cell of row; let c = index" 
      [class.robot]="robotCell === c+'x'+r">
				{{cell}}
			</div>
		</div>
	</div>
  <br>
  <label>Measurements</label>
	<div class="measurements">
		{{measures}}
	</div>
  <br>
</div>