<div class="mars">

	<table class="robotGrid" *ngIf="gridData">
		<tr>
			<td></td>
			<td class="header" *ngFor="let row of gridData; let x = index">{{x}}</td>
		</tr>
		<tr *ngFor="let row of gridData; let r = index">
			<td class="header">{{r}}</td>
			<td *ngFor="let cell of row; let c = index">
				{{cell}}
			</td>
		</tr>
	</table>

	<div class="robotGrid" *ngIf="gridData">
		<div class="robotGridRow" *ngFor="let row of gridData; let r = index">
			<div class="robotGridCell" *ngFor="let cell of row; let c = index">
        {{cell}}
			</div>
		</div>
	</div>

	<div class="measurements">
		1001011 1001010 10101010 10101111
	</div>

</div>