.mars2 {
  background-image: url('/mars.jpg');
  background-color: #cccccc;
  height: 500px; 
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.mars3 {
  background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');
  background-color: #cccccc;
  height: 500px; 
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
}

p {
  font-family: Lato;
}