/* Add application styles & imports to this file! */

.mars {
  background-image: url('/assets/images/mars.jpg');
  background-color: #cccccc;
  height: 500px; 
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
}